<<<<<<< Updated upstream

=======
>>>>>>> Stashed changes
body {
  background-color: aqua;
}

button {
  cursor: pointer;
  height: 30px;
  padding-left: 10px;
  text-align: left;
  vertical-align: middle;
  width: 120px;
}

<<<<<<< Updated upstream
=======
h2 {
  color: black;
  align-content: center;
  text-transform: uppercase;
  text-shadow: lightgrey;
}

>>>>>>> Stashed changes
ol {
  font-size: large;
  padding-left: 12px;
}

<<<<<<< Updated upstream
li {
  font-size: small;
  padding-left: 10px;
}

.column .tictactoebackground {
    background-color: #4679BD;
    border-radius: 10px;
    padding: 5px;
=======
.column {
  margin: 20px;
  text-align: center;
>>>>>>> Stashed changes
}

.game-info {
  font-size: xx-large;
}

.game-board {
  background-color: #4679BD;
  border-radius: 10px;
  padding: 5px;
}

.game-status {
  font-size: large;
  margin-bottom: 20px;
  text-align: left;
}

.grid.game {
    margin-top: 20px;
}
.square {
  background: aqua;
  border-radius: 10px;
  color: black;
  font-size: xx-large;
  height: 60px;
  line-height: 60px;
  margin: 5px;
  padding: 0;
  text-align: center;
  vertical-align: middle;
  width: 60px;
}
